/* .app {
  display: flex;
  width: 960px;
}
.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
}
.home {
  width: calc(100% - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar button {
  box-shadow: 0px 0px 10px rgb(165, 177, 241);
  border-radius: 8px;
  border: none;
  background-color: white;
  height: 50px;
  width: 100px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: black;
  cursor: pointer;
}

.shape {
  width: 200px;
  height: 200px;
  background-color: rgb(174, 124, 187);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
} */
